 
services:
  postgres:
    image: postgres:latest
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: house_prices_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/18/data

  jupyter:
    build: .
    ports:
      - "8888:8888"
    volumes:
      - ./notebooks:/home/jovyan/work
    depends_on:
      - postgres

volumes:
  postgres_data: